body{
    height: 100%;
    width:90%;
    padding:0 40px;
}

.content-body{
    padding:40px 0px;
    display: flex;
    justify-content: space-evenly;
}

.content-cards{
    display: flex;
    justify-content:space-evenly;
  
}

.content-img{
    /* margin-top:100px; */
    margin-left: 100px;
    padding:40px;
}


.card-data{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 40px;
    border:none;
   
}

.cards-img{
    height: 150px;
    width: 150px;
  
    padding:10px 10px 15px 10px;
   
}

.content-img{
    /* width: 100%;
    height:100%; */
    background-image:url(/src/images/sided.jpg) ;
    background-size:cover;
    background-repeat:no-repeat;
}



